*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #E9ECF4;
    color: #000;
}
.container{
    height: calc( 100vh - 40px);
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
}

.main{
    /* height: calc(100vh - 180px); */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.main .main_container{
    height: 80%;
    width: 80%;
    background: whitesmoke;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(170px,1fr));
}

.container .header{
    background: #12203E;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    /* height: 60px;
    align-items: center; */
}

.container .footer{
    background: #12203E;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* height: 60px;
    align-items: center; */
}

.container .footer > span{
    min-width: 240px;
    width: 20%;
    display: flex;
    justify-content: space-between;
}